<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo Ninja</title>
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Custom css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body>

    <nav class="nav nav-wrapper black">
        <div class="container">
            <a href="#" class="brand-logo">Photo Ninja</a>
            <a href="" class="sidenav-trigger right" data-target="mobile-menu">
                <i class="material-icons">menu</i>
            </a>
            <!-- <form class="">
                <div class="form-group">
                    <i class=""></i>
                    <input type="text" class="form-control" placeholder="Search friends, photos, videos">
                </div>
            </form> -->
            <ul class="right hide-on-med-and-down">
                <li><a href="#photo">Home</a></li>
                <li>
                    <a href="#services">NewsFeed</a>
                </li>
                <li><a href="#contact">Contact</a></li>
            </ul>
    </nav>

    <!-- <ul class="sidenav grey lighten-2" id="mobile-menu">
        <li><a href="#">Photo</a></li>
        <li><a href="#">services</a></li>
        <li><a href="#">Contact</a></li>
        <li>
            <a href="#" class="btn-floating btn-small indigo darken-4">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="#" class="btn-floating btn-small indigo darken-4">
                <i class="fab fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="#" class="btn-floating btn-small indigo darken-4">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    </ul> -->