<%- include('partials/header') %>
    <header class="home__header">
        <div class="container">
            <div class="home__header__form">
                <h1>tolu</h1>
                <form action="/users/register" method="POST" class="form-tag ">
                    <div class="form-group">
                        <input type="text" placeholder="Enter Name" name="name">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Enter Password" name="password">
                    </div>
                    <div class="form-group">
                        <input type="password" name="passwordConfirm" placeholder="Confirm password" name="passwordConfirm">
                    </div>
                    <p><small>By signing up you agree to the terms</small></p>
                    <div class="form-group form-tag__btn">
                        <button type="submit" class="btn btn-login">Signup</button>
                    </div>

                </form>
                <form action="/users/login" method="POST" class="form-tag active">
                    <div class="form-group">
                        <input type="text" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Enter Password">
                    </div>
                    <p><small>By signing up you agree to the terms</small></p>
                    <div class="form-group form-tag__btn">
                        <button type="submit" class="btn btn-login">Login</button>
                    </div>
                </form>
                <a href="#" class="home__header__account">Already have an account?</a>
            </div>
        </div>
    </header>
    <section class="features">
        <div class="container">
            <h1>Time to start</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eos accusantium, sit sapiente, laudantium maiores saepe aperiam atque non magnam explicabo nam dolorum maxime dignissimos est in officia quos consequuntur accusamus velit
                ipsum similique temporibus. Nulla harum suscipit cupiditate eius?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eos accusantium, sit sapiente, laudantium maiores saepe aperiam atque non magnam explicabo nam dolorum maxime dignissimos est in officia quos consequuntur accusamus velit
                ipsum similique temporibus. Nulla harum suscipit cupiditate eius?</p>
        </div>
    </section>



    <%- include('partials/footer') %>